/* Custom colors based on the design */
:root {
    --color-primary: #124874; /* Biru Penguin */
    --color-secondary-light: #ECF2FB;
    --color-text-dark: #181818;
    --color-text-medium: #646464;
}
body {
    font-family: 'Manrope', 'Inter', sans-serif;
    min-height: 100vh; /* Ensure the body covers the full viewport height */
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}
.text-primary { color: var(--color-primary); }
.bg-primary { background-color: var(--color-primary); }
.border-primary { border-color: var(--color-primary); }
.text-medium { color: var(--color-text-medium); }
.outline-primary { outline-color: var(--color-primary); }

/* Custom styles for the intricate icons/shapes in the original design */
.icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem; /* 64px */
    height: 4rem; /* 64px */
    padding: 0.5rem;
    border-radius: 9999px;
}